*, ::before, ::after {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
  --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000
}

.mp-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0
}

.mp-order-3 {
  order: 3
}

.mp-order-2 {
  order: 2
}

.mp-mx-0 {
  margin-left: 0px;
  margin-right: 0px
}

.mp-my-0 {
  margin-top: 0px;
  margin-bottom: 0px
}

.mp-mx-auto {
  margin-left: auto;
  margin-right: auto
}

.mp-ml-3 {
  margin-left: 0.75rem
}

.mp-mt-2 {
  margin-top: 0.5rem
}

.mp--mr-1 {
  margin-right: -0.25rem
}

.mp-flex {
  display: flex
}

.mp-h-6 {
  height: 1.5rem
}

.mp-w-0 {
  width: 0px
}

.mp-w-6 {
  width: 1.5rem
}

.mp-w-full {
  width: 100%
}

.mp-max-w-7xl {
  max-width: 80rem
}

.mp-flex-1 {
  flex: 1 1 0%
}

.mp-flex-shrink-0 {
  flex-shrink: 0
}

.mp-flex-wrap {
  flex-wrap: wrap
}

.mp-items-center {
  align-items: center
}

.mp-justify-center {
  justify-content: center
}

.mp-justify-between {
  justify-content: space-between
}

.mp-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap
}

.mp-rounded-lg {
  border-radius: 0.5rem
}

.mp-rounded-md {
  border-radius: 0.375rem
}

.mp-border {
  border-width: 1px
}

.mp-border-0 {
  border-width: 0px
}

.mp-border-transparent {
  border-color: transparent
}

.mp-bg-indigo-600 {
  --tw-bg-opacity: 1;
  background-color: rgb(79 70 229 / var(--tw-bg-opacity))
}

.mp-bg-indigo-800 {
  --tw-bg-opacity: 1;
  background-color: rgb(55 48 163 / var(--tw-bg-opacity))
}

.mp-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.mp-bg-transparent {
  background-color: transparent
}

.mp-p-2 {
  padding: 0.5rem
}

.mp-py-3 {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem
}

.mp-px-3 {
  padding-left: 0.75rem;
  padding-right: 0.75rem
}

.mp-px-4 {
  padding-left: 1rem;
  padding-right: 1rem
}

.mp-py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}

.mp-text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem
}

.mp-font-medium {
  font-weight: 500
}

.mp-normal-case {
  text-transform: none
}

.mp-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity))
}

.mp-text-indigo-600 {
  --tw-text-opacity: 1;
  color: rgb(79 70 229 / var(--tw-text-opacity))
}

.mp-no-underline {
  -webkit-text-decoration-line: none;
          text-decoration-line: none
}

.mp-shadow-sm {
  --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow)
}

.mp-outline-0 {
  outline-width: 0px
}

.hover\:mp-bg-indigo-50:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(238 242 255 / var(--tw-bg-opacity))
}

.hover\:mp-bg-indigo-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(99 102 241 / var(--tw-bg-opacity))
}

.focus\:mp-outline-none:focus {
  outline: 2px solid transparent;
  outline-offset: 2px
}

.focus\:mp-ring-2:focus {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}

.focus\:mp-ring-white:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(255 255 255 / var(--tw-ring-opacity))
}

@media (min-width: 640px) {
  .sm\:mp-order-2 {
    order: 2
  }

  .sm\:mp-order-3 {
    order: 3
  }

  .sm\:mp-mt-0 {
    margin-top: 0px
  }

  .sm\:mp-ml-3 {
    margin-left: 0.75rem
  }

  .sm\:mp--mr-2 {
    margin-right: -0.5rem
  }

  .sm\:mp-w-auto {
    width: auto
  }

  .sm\:mp-px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
  }
}

@media (min-width: 1024px) {
  .lg\:mp-px-8 {
    padding-left: 2rem;
    padding-right: 2rem
  }
}